@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    // height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    // position: relative;
    justify-content: center;
    background: linear-gradient(-45deg, rgb(88, 160, 66) 10%, rgb(88, 160, 66) 100%);
    color: aliceblue;
}
form {
    // position: absolute;
    // top: 50%;
    display: flex;
    flex-direction: column;
    width: 300px;
}

select, input {
    border-radius: 10px;
    margin: -7px 0;

    padding: 12px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

.timeBlocks {
    margin-top: -20px;
    display: flex;
    // width: 100%;
    align-items: center;
    justify-content :space-between;

}
p {
    // margin: 10px;
}

button{
    font-weight: 550;
    text-transform: uppercase;

    border-radius: 10px;
    font-size: 17px;
    margin-top: 12px;
    padding: 10px;
    border: unset;
    cursor: pointer;
    background: white;
    color: #303030;
    text-decoration: none;
    text-align: center;
}
a.button {
    font-weight: 550;
    text-transform: uppercase;

    border-radius: 10px;
    font-size: 17px;
    margin-top: 5px;
    padding: 10px;
    border: unset;
    cursor: pointer;
    background: white;
    color: rgb(252, 6, 18);
    text-decoration: none;
    text-align: center;
}